
body{ 
    background-color: beige; 
} 
 
#heading{ 
   
    border: 2px solid black; 
    text-align: center; 
    border-radius: 20%; 
     
} 
 
form{ 
    background-color: rgb(208, 98, 29); 
} 
 
legend{ 
    background-color: rgb(193, 209, 177); 
    padding: 10px; 
} 
 
#btn1{ 
    background-color: rgb(193, 209, 177); 
    padding: 20px; 
} 
 
#btn2{ 
    padding: 20px; 
} 
 
#footerText { 
    text-align: center; 
    font-size: 14px; 
    color: #ccc6c6; 
}